<h3>Dodaj komentarz:</h3>
<%= form_for [ @article, @comment ] do |form| %>
  <p> 
    <%= form.label @comment.user.try(:email), "Autor" %>
    <%= form.text_field :user, value: current_user.email, readonly: true %> 
  </p>
  <p> 
    <%= form.label 'Treść' %>
    <%= form.text_area :body %> 
  </p>
  <p><%= form.submit 'Skomentuj' %></p>
<br>
<% end %>